<%= form_for @gif, :html => { :multipart => true } do |f| %>
  <% if @gif.errors.any? %>
  	
    <div id="error_explanation">
      <h2>Looks like you didn&#39;t fill in all the fields</h2>
    </div>
    <div style="clear: both;"></div> 
  <% end %>


  <div class="field">
    <%= f.text_field :title, placeholder: 'Title', class: 'text' %>
    <p>Use a descriptive title such as <em>When a stranger talks to me</em> or <em>When asked if I'm single</em>.</p>
    
    <%= f.file_field :image, class: 'image-input' %>

  	<div class='tag-field'>
	  	<% Tag.order(:name).each do |tag| %>
	  		
	  		<label class="checkbox-tag"><div class="tag-left"></div><div class="tag-stretch"><%= tag.name %><%= check_box_tag :tag_ids, tag.id, @gif.tags.include?(tag), :name => 'gif[tag_ids][]' %></div> <div class="tag-right"></div></label>
	  	<% end %>
  	</div>
  	<p>Choose emotional keywords that describe your GIF.</p>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
