<div id='centered-search-gifs'>
	<%= render 'shared/search' %>
</div>


<div id='gifs-centered'>
	<% @gifs.each do |gif| %>
		<h2><%= gif.title %></h2>
		<%= image_tag gif.image.url, class: 'gif-image', height: '150px' %>
		<% gif.tags.each do |tag| %>
			<%= link_to tag.name, tag, class: 'gif-tag' %>
		<% end %>
		<%= link_to "Edit Tags", edit_gif_path(gif) %>
	<% end %>
</div>
