<p id="notice"><%= notice %></p>

<%= render 'shared/rightColumn' %>

<div id='gifs-centered'>
	<%= render 'shared/gifWithTags' %>
	
	<div style="display:block; margin:25px auto; width: 300px;">
		<%= link_to 'Add Another', new_gif_path, class: 'button white' %>
		<%= link_to 'Find More Gifs', root_path, class: 'button white' %>
	</div>
</div>
