<!DOCTYPE html>
<html>
<head>
  <title>SnappyComeback</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<header>
	<h1>Snappy Comeback</h1>
	<h2 class="right">(Go ahead, GIF somebody)</h2>
	<div style="clear: both;"></div> 
	<%= link_to 'Add Gif', new_gif_path, class: 'add-gif-btn' %>
</header>

<%= yield %>
</body>

</html>
