<!DOCTYPE html>
<html>
<head>
  <title>SnappyComeback</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<header>
	<h1><%= link_to 'Snappy Comeback', root_path %></h1>
	<div style="clear: both;"></div> 
	<%= link_to 'Add Gif', new_gif_path, class: 'add-gif-btn' %>
</header>

<body>
	<div id='body-wrapper'>
		<%= yield %>
	</div>
</body>

<footer>
	<h1>Footer - 2012</h1>
</footer>

</html>
